.consultation
  .position
    .center
      h1#consultation.title-h1 Consultation
    .wrap-form.clearfix
      .description
        h2
          |How long have
          br
          |you do yourself a gift?
        p The procedural change mezzo forte starts izoritmichesky pickup at these moments stop LA Mazel and
          | VA Tsukkerman in his "Analysis of musical works." Pointillism, which originated in the music of
          |the early twentieth century, microforms, found a distant historical
      form.form(action="#", method="post")
        input(type="text" placeholder="name", name="name" required)
        input(type="tel" placeholder="phone", name="phone" required)
        input(type="email" placeholder="email", required)
        button(type="submit") Consultation
