.gallery
  .position
    .center
      h1#gallery.title-h1 Gallery
    .row-gallery
      .box-row
        .box-wrap
          .box
            a(href="img/photo1.jpg")
              img(src="img/photo1.jpg", alt="photo1")
          .box
            a(href="img/photo2.jpg")
              img(src="img/photo2.jpg", alt="photo2")
        .title Marina Palms
          i &#32 &#47 &#32
          span North Miami Beach, FL 33162
      .box-row
        .box-wrap
          .box
            a(href="img/photo3.jpg")
              img(src="img/photo3.jpg", alt="photo3")
          .box
            a(href="img/photo4.jpg")
              img(src="img/photo4.jpg", alt="photo4")
        .title Edition Residens
          i &#32 &#47 &#32
          span Miami Beach, FL 33139
      .box-row
        .box-wrap
          .box
            a(href="img/photo5.jpg")
              img(src="img/photo5.jpg", alt="photo5")
          .box
            a(href="img/photo6.jpg")
              img(src="img/photo6.jpg", alt="photo6")
        .title Faena House
          i &#32 &#47 &#32
          span Miami Beach, FL 33140
    .view-all.center
      a.btn-view(href="#") View
