header.header
  .position
    .header-top.clearfix
      .phone.left
        span 8 800 500 50 50
      .logo.left
        a(href="#")
          img(src="img/logo.png", alt="Miami Condo Rings")
      .call-order.left
        a.call(href="#form-send") Call to order
    .header-bottom
      ul.menu.fixed
        li
          a(href="#home") Home
        li
          a(href="#about") About Us
        li
          a(href="#gallery") Gallery
        li
          a(href="#consultation") Consulation
        li
          a(href="#testimonials") Testimonials
        li
          a(href="#contact") Contacts
