.testimonials
  .position
    .center
      h1.title-h1(id="testimonials") Testimonials
    .reviews.clearfix
      .review-box
        img(src="img/photo-review1.png", alt="Stev Joni")
        h4 Stev Joni
        span Founder Lucoil
        p Nice work, Certificates National Association of Realtors (USA).
      .review-box-center
        img(src="img/photo-review2.png", alt="Alisher Usmanov")
        h4 Alisher Usmanov
        span Ural Steel
        p My soul is illuminated by an unearthly joy, as these beautiful spring morning, which I enjoy with all my heart.
          br
          | I'm all alone and blissfully happy in the local edge.
          | as if created for the likes of me.
      .review-box
        img(src="img/photo-review3.png", alt="Алексей Мордашов")
        h4 Алексей Мордашов
        span ГазПром
        p When my lovely valley of steam rises and half-day sun is above an impermeable. thicket
