/*
* Normalize css
*/
@import "../../bower_components/normalize.css/normalize.css";

/*
Magnific-popap
*/
@import "../../bower_components/magnific-popup/dist/magnific-popup.css";
// *****************   Base styles    ***************** //

* {
  box-sizing: border-box;
}

.render-text {
   text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
   1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
   1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

%clear {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix {
  &:before {
    @extend %clear;
  }
  &:after {
    @extend %clear;
    clear: both;
  }
}

h1 {
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.125em;

}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 700;
}

h5 {
  font-size: 0.75em;
  font-weight: 700;
}

h6 {
  font-size: 0.5em;
  font-weight: 700;
}

a {
  text-decoration: none;
  font-size: 1em;
  &:hover{
    text-decoration: underline;
  }
}
