// Variables

$font: normal 100% Ubuntu, Verdana, Arial sans-serif;
$content-text-color: #000;
$bg-color-body: #fff;
$bg-color-header: #080d35;
$bg-color-grey: #eee;
$bg-input: #eee;
$color-phone: #fff;
$color-menu: #fff;
$color-title: #00aaef;
$color-btn: #00aaef;
$color-btn-hover: #06a0de;
$color-btn-text: #fff;
$color-subtitle-img: #696973;

// Mixin

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}

body {
  font: $font;
  line-height:1.5em;
  color: $content-text-color;
  background-color: $bg-color-body;
}

// *************   HEADER   ************* //

header.header {
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-color: $bg-color-header;
  background-size: cover;
}

.phone {
  span {
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.6;
    color: $color-phone;
  }
 }

.call-order {
  a {
    opacity: 0.6;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-phone;
    border-bottom: 1px dashed $color-phone;
    transition: all 0.5s ease-in;
    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }
}

.menu {
  a {
    color: $color-menu;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    &:hover {
      text-decoration: none;
      opacity: 0.6;
    }
  }
}

.title {
  h1 {
    line-height: 1.25em;
    margin: 0;
    strong {
      font-weight: 500;
    }
    span {
      color: $color-title;
    }
  }
}


// *************   ABOUT   ************* //

.article {
  h4 {
    padding-left: 4.875em;
  }
  p {
    padding-left: 4.875em;
  }
  .list {
    padding-left: 4em;
  }
  strong {
    font-weight: 500;
  }
}

.title-h1 {
  display:inline-block;
  position:relative;
  top:-46px;
  background-image: url("../img/h.png");
  background-repeat:no-repeat;
  background-position: 50% 45px;
  padding-bottom: 40px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 38%;
    height: 2px;
    background-color: $color-title;
    top: 73%;
    }
  &:before {
    left: 4%;
  }
  &:after {
    right: 4%;
  }
}


// *************   GALLERY   ************* //

.gallery {
  background: $bg-color-grey;
  .title {
    font-weight: 500;
    width: 100%;
    i {
      font-weight: 400;
      font: $font;
    }
    span {
      font-weight: 400;
      color: $color-title;
    }
  }

.view-all {
  margin-top: 2.438em;
}
  .btn-view {
    display: inline-block;
    padding: 1em 4.5em;
    background-color: $color-btn;
    color: #fff;
    font-size: 0.875em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 auto;
    transition: all 0.5s ease-in;
    &:hover,
    &:focus {
      background-color: $color-btn-hover;
      text-decoration: none;
    }
  }
}


// *************   CONSULTATION && CONTACT  ************* //
//The same form for consultation and contact

// extend
.focus-form {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  background-color: #f9f9f9;
}
.form {
  input {
    width: 85%;
    height: 52px;
    background-color: $bg-input;
    border: 0;
    outline: 0;
    margin-bottom: 0.714em;
    font-size: 0.875em;
    font-weight: 500;
    text-align: center;
    padding: 0 2em;
    transition: all 0.5s ease-in;

    &:focus {
      @extend .focus-form
    }
  }
    @include placeholder {
        color: $content-text-color;
        text-transform: uppercase;
    }

    textarea {
      resize: none;
      border: 0;
      outline: 0;
      width: 85%;
      background-color: $bg-input;
      padding: 0.5em 2em;
      font-size: 0.875em;
      font-weight: 500;
      margin-bottom: 0.357em;
      transition: all 0.5s ease;
      &:focus {
        @extend .focus-form
      }
    }
    button {
      width: 85%;
      height: 52px;
      background-color: $color-btn;
      border: 0;
      font-size: 0.875em;
      font-weight: 500;
      text-transform: uppercase;
      color: $color-btn-text;
      transition: all 0.5s ease;
      &:hover,
      &:focus {
        background-color: $color-btn-hover;
        text-decoration: none;
      }
    }
}


// *************   TESTIMONIALS   ************* //

.testimonials {
  background-color: $bg-color-grey;
}

.reviews {
  span {
    font-style: italic;
    color: $color-subtitle-img;
  }
}

.address {
  font-size: 1.5em;
  line-height: 1.25em;
}


// *************   FOOTER   ************* //

.footer {
  background: url(../img/footer-bg.jpg) 50% 0 no-repeat #080d35;
  background-size: cover;
  p {
    font-weight: 500;
    color: white;
  }
}


// *************   Arrow   ************* //



.arrow {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 30px solid #0098d5;
  position: fixed;
  bottom:10px;
  right:20px;
  cursor: pointer;
  display: none;
}


// *************   Popap photo   ************* //

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transform:scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform:scale(1);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
   transform:scale(0);
}
