header.header {
  margin: 0 auto;
}

.position {
  margin: 0 auto;
  max-width: 58.75em;
  padding: 0 0.5em;
}

.header-top {
  padding: 3.438em 0 20.625em 0 ;

  .phone {
    width: 32%;
    text-align: left;
    padding-top: 2.5em;
  }

  .logo {
    width: 36%;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .call-order {
    width: 32%;
    text-align: right;
    padding-top: 2.5em;
  }
}

.header-bottom {
  padding: 14.375em 0 2.125em 0;
}
.menu {
  text-align: justify;
  overflow: hidden;
  padding: 0;
  margin: 0;

  &:after {
    content: "";
    margin-left: 100%;
    display: inline-block;
  }

   li {
    display: inline;

    a {
      display: inline-block;
    }
  }
}

.about {
  margin: 8.125em 0 10.375em 0;
}

.title {
  width: 32%;
}
.article {
  margin-left: 32%;
  padding: 0 2%;
}
.gallery {
  padding-bottom: 160px;
}

.row-gallery {
  width: 100%;
  display: table;
  .box-row {
    margin-bottom: 2.1em;
    height: 100%;
  }
  .box-wrap {
    display: table-row;
    width: 100%;
  }

  .box {
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
    table-layout:fixed;
    padding-bottom: 1.188em;
    padding-right: 0.313em;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height:auto;
  }
}
.center {
  text-align: center;
}

.consultation {
  padding: 0 0 9.125em;
}

.wrap-form {

  .description {
    float: left;
    width: 50%;
    margin: 1em 0 0;
    h2 {
      margin: 0;
    }
  }
  .form-consul {
    margin:1em 0 0 52%;
    text-align: right;
  }
}

.reviews {
  h4 {
    margin: 0.5em 0 0;
  }
}
.review-box {
  float: left;
  width: 30%;
  margin: 0 2%;
  text-align: center;
  padding: 1%;
}

.review-box-center {
  float: left;
  width: 32%;
  text-align: center;
  padding: 1%;
}

