// *****************   LAYOUT    ***************** //

.position {
  margin: 0 auto;
  max-width: 58.75em;
  padding: 0 0.5em;
}


// *************   HEADER   ************* //

header.header {
  margin: 0 auto;
}

.header-top {
  padding: 3.438em 0 20.625em 0 ;
  .phone {
    width: 32%;
    text-align: left;
    padding-top: 2.5em;
  }
  .logo {
    width: 36%;
    text-align: center;
  }
  .call-order {
    width: 32%;
    text-align: right;
    padding-top: 2.5em;
  }
}

.header-bottom {
  padding: 14.375em 0 2.125em 0;
}

.menu {
  text-align: justify;
  overflow: hidden;
  padding: 0;
  margin: 0;
  &:after {
    content: "";
    margin-left: 100%;
    display: inline-block;
  }
   li {
    display: inline;
    a {
      display: inline-block;
    }
  }
}


// *************   ABOUT   ************* //

.about {
  margin: 8.125em 0 10.375em 0;
}

.title {
  width: 32%;
}

.article {
  margin-left: 32%;
  padding: 0 2%;
}


// *************   GALLERY   ************* //

.gallery {
  padding-bottom: 160px;
}

.row-gallery {
  width: 100%;
  display: table;
  .box-row {
    margin-bottom: 2.1em;
    height: 100%;
  }
  .box-wrap {
    display: table-row;
    width: 100%;
  }
  .box {
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
    table-layout:fixed;
    padding-bottom: 1.188em;
    padding-right: 0.313em;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height:auto;
  }
}


// *************   CONSULTATION && CONTACT  ************* //
//The same form for consultation and contact

.consultation {
  padding: 0 0 9.125em;
}

.wrap-form {
  .description {
    float: left;
    width: 50%;
    margin: 1em 0 0;
    h2 {
      margin: 0;
    }
  }
  .form {
    margin:1em 0 0 52%;
    text-align: right;
  }
}

.contact {
  padding-bottom: 105px;
}

// *************   TESTIMONIALS   ************* //

.testimonials {
  padding: 0 0 120px;
}

.reviews {
  h4 {
    margin: 0.5em 0 0;
  }
}

.review-box {
  float: left;
  width: 30%;
  margin: 0 2%;
  text-align: center;
  padding: 1%;
}

.review-box-center {
  float: left;
  width: 32%;
  text-align: center;
  padding: 1%;
}



// *************   FOOTER   ************* //

.footer {
  height: 540px;
  text-align: center;
  .logo {
    padding: 230px 0 150px;
  }
  a {
    display: inline-block;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}


// *************   LAYOUT AND STYLES FOR MEDIA QUERIES    ************* //

//  Mobile Phones Portrait or Landscape 640px //
@media screen and (max-width: 640px) {

  .header-top {
    padding: 1em 0;
    .phone {
      width: 100%;
      text-align: center;
      float: none;
      position: absolute;
      top: 90px;
      left: 0;
      right: 0;
    }
    .logo {
      width: 100%;
      text-align: center;
      float: none;
    }
    .call-order {
      width: 100%;
      text-align: center;
      padding-top: 0.7em;
      float: none;
    }
  }

  .header-bottom {
    padding: 1em;
  }

  .menu {
    text-align: center;
    padding: 0;
    margin: 0;
    &:after {
      content: "";
      display: block;
      margin: 0;
    }
     li {
      display: block;
      text-align: center;
      background: rgba(0, 0, 0, 0.4);
      a {
        display: block;
        opacity: 0.6;
        padding: 1em;
        transition: all 0.5s ease-in;
        &:hover {
          background: rgba(0, 0, 0, 0.7);
          opacity: 1;
        }
      }
    }
  }
}

//  Mobile Phones Portrait or Landscape 480px //
@media screen and (max-width: 480px) {

.title-h1 {
  top:-40px;
  font-size: 2.5em;
}
  // *** Header *** //

  .header-top {
    padding: 1em  0;
    .phone {
      width: 100%;
      text-align: center;
      float: none;
      position: absolute;
      top: 90px;
      left: 0;
      right: 0;
    }
    .logo {
      width: 100%;
      text-align: center;
      float: none;
    }
    .call-order {
      width: 100%;
      text-align: center;
      padding-top: 0.7em;
      float: none;
    }
  }

  .header-bottom {
    padding: 1em;
  }

  .menu {
    text-align: center;
    padding: 0;
    margin: 0;
    &:after {
      content: "";
      display: block;
      margin: 0;
    }
     li {
      display: block;
      text-align: center;
      background: rgba(0, 0, 0, 0.4);
      a {
        display: block;
        opacity: 0.6;
        padding: 1em;
        transition: all 0.5s ease-in;
        &:hover {
          background: rgba(0, 0, 0, 0.7);
          opacity: 1;
        }
      }
    }
  }


  // *** About *** //
  .about {
    margin: 4.125em 0 7.375em 0;
  }
  .title {
    float: none;
    width: 100%;
    text-align: center;
    font-size: 0.875em;
    h1 {
      font-size: 2.5em;
    }
  }

  .article {
    float: none;
    padding: 0 2%;
    width: 100%;
    margin: 0;
    text-align: left;
    h4 {
      padding-left: 1.875em;
      margin: 1em 0;
    }
    p {
      padding-left: 1.875em;
    }
    .list {
      padding-left: 1em;
    }
    strong {
      font-weight: 500;
    }
  }


    // *** Consultation && Contact *** //

    .wrap-form {
      .description {
        float: none;
        width: 100%;
        margin: 1em 0 0;
        h2 {
          margin: 0;
        }
      }
      .form {
        text-align: center;
        width: 100%;
        margin: 3em 0 0;
      }
    }

    .address {
      font-size: 1em;
      text-align: center;
    }

  // *** Testimonials *** //
    .review-box {
      float: none;
      width: 100%;
      margin: 0;
      text-align: center;
      padding: 1%;
    }

    .review-box-center {
      float: none;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 1%;
    }
}
