<!DOCTYPE html>
html(lang="en")
  include template/head.jade
  body
    include template/header.jade
    include template/about.jade
    include template/gallery.jade
    include template/consultation.jade
    include template/testimonials.jade
    include template/contact.jade
    include template/footer.jade
    .arrow#toTop
    script(src='js/main.js')


