<!DOCTYPE html>
html(lang="en")
  include template/head.jade
  body
    include template/header.jade
    include template/about.jade
    include template/gallery.jade
    include template/consultation.jade
    include template/testimonials.jade
    include template/contact.jade
    include template/footer.jade
    .hidden
        form#form-send.white-popup-block.mfp-hide(action="#", method="post")
          input(type="text" placeholder="name", name="name" required)
          input(type="tel" placeholder="phone", name="phone" required)
          input(type="email" placeholder="email", required)
          button.btn(type="submit") send request
    script(src='js/main.js')


